<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Cards</title>
  <style>
    .users {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 20px;
    }

    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
      width: 150px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .user img {
      width: 100px;
      height: 100px;
      
      object-fit: cover;
      margin-bottom: 10px;
    }

    .user h3 {
      margin: 0;
      font-size: 1.1em;
    }

    .user p {
      margin: 5px 0 0;
      font-size: 0.9em;
      color: #666;
    }
  </style>
</head>
<body style="display: flex;flex-direction: column; justify-content: center; align-items: center;  background-color: #f0f0f0;">
  <% if (message) { %>
  <div style="background-color: #d4edda; color: #155724; padding: 10px; border-radius: 4px; margin: 10px 0;">
    <%= message %>
  </div>
<% } %>

   <h1><a href="/">Add User</a></h1>
  <div class="users">
    <% if (users.length === 0) { %>
      <h2>No users found</h2>
    <% } else { %>
      <% users.forEach(user => { %>
        <div class="user">
          <img src="<%= user.url %>" alt="User Image">
          <h3><%= user.name %></h3>
          <p><%= user.email %></p>
          
          <div style="display: flex;gap: 29px; margin-top: 10px;">
            
           <a href="/edit/<%= user._id %>">Edit</a>


             <a href="/delete/<%= user._id%>">Delete</a>

          </div>
          
        </div>
      <% }) %>
    <% } %>
  </div>
</body>
</html>
